<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\bootstrap.css">
        <title>Document</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <form action="/noticia/altanoticia" method="post">
                <div class="mb-3">
                    <label for="titulo_noticia" class="form-label">TITULO DE LA NOTICIA</label>
                    <input type="text" class="form-control" name="titulo_noticia" id="titulo_noticia">
                </div>
                <div class="mb-3">
                    <label for="resumen_noticia" class="form-label">RESUMEN</label>
                    <input type="text" class="form-control" name="resumen_noticia" id="resumen_noticia">
                </div>
                <div class="input-group">
                    <span class="input-group-text">CUERPO DE NOTICIA</span>
                    <textarea class="form-control" name="cuerpo" aria-label="With textarea" rows="20"></textarea>
                </div>
                <br>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">SUBIR</label>
                </div>
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title"> ERROR </h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito!=null}" class="card text-white bg-success mb-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title"> EXITO </h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>


                <button type="text" class="btn btn-success">ACEPTAR</button>

            </form>
        </div>

    </body>

</html>