<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>EGG NEWS - BIENVENIDO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\bootstrap.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">EGG - NEWS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Panel Admin</a>
<!--                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled">Disabled</a>-->
                    </div>
                </div>
            </div>
        </nav>
        <header>
            <div class="container">
                <h1>EGG NEWS</h1>
            </div>
        </header>
        <div  div class="bg-success p-2" style="--bs-bg-opacity: .5;">
        <div class="container" th:each="noticia : ${noticia}">
            <section class="main row" >
                <article  class="col-md-10">
                    <div class="card" > 
                        <div class="card-header" th:text="${noticia.fecha_noticia}">

                        </div>
                        <div class="card-body" >
                            <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                            <p class="card-text" th:text="${noticia.resumen}"></p>
                            <a href="#" class="btn btn-success">MAS</a>
                        </div>
                    </div>
                </article>
                <!--            <aside class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        DESTACADO
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Special title treatment</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nostrum!
                                            Voluptates molestiae deleniti, cupiditate a incidunt error repellendus necessitatibus nulla
                                            ad temporibus cumque voluptatem! Et enim ex temporibus omnis consequuntur!</p>
                                        <a href="#" class="btn btn-success">MAS</a>
                                    </div>
                                </div>
                            </aside>-->
            </section>
        </div>
    </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    </body>

</html>