<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>EGG NEWS - BIENVENIDO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="personalizados.css">
    </head>
    <body>
        <nav th:replace ="/fragments/nav :: nav"> </nav>
        <header>
            <div class="container">
                <h1>EGG NEWS</h1>
            </div>
        </header>

        <div>
            <div class="container" th:each="noticia : ${noticia}">
                <section class="main row">
                    <article>
                        <div class="card  shadow p-1 mb-3 bg-body rounded">
                            <div class="card-header" th:text="${noticia.fecha_noticia}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                                <p class="card-text" th:text="${noticia.resumen}"></p>
                                <a th:href="@{/noticia/completa/__${noticia.id_noticia}__}" class="btn btn-warning">Seguir leyendo</a>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/noticia/completa/__${noticia.id_noticia}__}" class="btn btn-danger">Eliminar</a>
                                <a sec:authorize="hasRole('ADMIN')" th:href="@{/noticia/modifnoticia/__${noticia.id_noticia}__}" class="btn btn-success">Modificar</a>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title"> Exito!!!!!!  </h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>        

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    </body>

</html>