<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>EGG NEWS - ADMINISTRACION DE USUARIOS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="/personalizados.css">
    </head>
    <body>
     <nav th:replace ="/fragments/nav :: nav"> </nav>
    <header>
  
        <div class="container">
            <h1>ADMINISTRACION DE USUARIOS</h1>
        </div>
  
    </header> 
    
    <div class="container">
        <table class="table table-secondary table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Id Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">ROL</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody th:each="usuario: ${usuarios}">
              <tr>
                <th scope="row" th:text="${usuario.id}"></th>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.rol}"></td>
                <td>
                  <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/modificar/__${usuario.id}__}" class="btn btn-outline-secondary btn-sm">Modificar</a>
                  <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/eliminar/__${usuario.id}__}" class="btn btn-outline-danger btn-sm">Eliminar</a>
                  
                                
                </td>
              </tr>              
            </tbody>
          </table>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>